<div id="particles-js">
  <meta name="image" property="og:image" content= "https://edgarvelazquez.github.io/assets/img/websiteMainPicture.png">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a href="https://drive.google.com/file/d/1jU29fRIhHTII-KDImIseo811JgEoztbn/view?usp=sharing" aria-label="My Resume" target="_blank" href="#"><i class="icon fa fa-address-card" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/edgar-velazquez/"aria-label="My Linked In" target="_blank" href="#"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/edgarvelazquez" aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="mailto:edgar.ra.velazquez@gmail.com" aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
