<meta name="image" property="og:image" content= "https://edgarvelazquez.github.io/assets/img/websiteMainPicture.png">
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/websiteMainPicture.png" | prepend: site.baseurl }}" style= ”display:none” />
  </div>
  <div class="contents">
    <h3> One Menu </h3>
    <ul>
      <li> Java, XML, Python, NoSQL</li>
    </ul>
    <p>Designed Android Application using XML, Java, and FireBase FireStore database.
    Developed artificial intelligence algorithm to find best menu choices for every user according to their preferences and use.</p>
    <a class="project-link" href="https://github.com/edgarvelazquez/OneMenuApp">Click to see Code</a>
  </div>
  <div class="contents">
    <h3> LeetCode </h3>
    <ul>
      <li> Java</li>
    </ul>
    <p> File that contains my personal Leetcode solutions to different difficulty levels. Some problems include comments to explain my thinking. Solutions to cracking the coding interview can be found in the same repository. </p>
    <a class="project-link" href="https://github.com/edgarvelazquez/leetCode/blob/master/solutions">Click to see Code</a>
  </div>
   <div class="contents">
    <h3> 2-3 Tree </h3>
    <ul>
      <li> Java</li>
    </ul>
    <p>Designed Generic 2-3 Tree (B-Tree of Factor of 3) as a viable replacement for Java’s AVL Tree, Supports insertion, searching, clearing, returning an iterator for in-order traversal of the tree and checking the size of the tree. A 2-3 Tree is better than Binary Tree in cases where data inserted in Binary tree may cause it to form a vine like structure. A 2-3 Tree is balanced, meaning all its leaves will be at the same level.</p>
    <a class="project-link" href="https://github.com/edgarvelazquez/Data-Structures-Java/blob/master/Tree.java">Click to see Code</a>
  </div>
  <div class="contents">
    <h3> SQL Banking Application </h3>
    <ul>
      <li> Java, SQL</li>
    </ul>
    <p>
      Developed command line banking application using DB2, Java, & JDBC inside a docker container. The database used triggers to cascade different results and includes error handling. Users are able to log in and manage their different accounts, users are also able to transfer money between their accounts and to other users.
    </p>
    <a class="project-link" href="https://github.com/edgarvelazquez/SQL-BankingApplication">Click to see Code</a>
  </div>
  <div class="contents">
    <h3> Shopping Cart </h3>
    <ul>
      <li> C++</li>
    </ul>
    <p>
      Shopping cart application that organize items into parent 
      and child classes according to their characteristics.
      Maps organization was added to put items into a single 
      receipt, the key is the item number, and it includes a linked list of items. The application is able to insert, delete, and sort items.
    </p>
    <a class="project-link" href="https://github.com/edgarvelazquez/ShoppingCart">Click to see Code</a>
  </div>
  <div class="contents">
    <h3> Events Search Engine</h3>
    <ul>
      <li> HTML, CSS, Javascript, Python, SQL</li>
    </ul>
    <p>
      Team Project. Web application that helps users find events near them and people to go with. It uses Ticketmaster API for specific events, but other events can be added from the web. Users are able to rate events and connect with other members 
    </p>
    <a class="project-link" href="https://github.com/edgarvelazquez/Event-Search">Click to see Code</a>
  </div>
  <div class="contents">
    <h3> Rindu</h3>
    <ul>
      <li> Adobe Spark, Adobe Photoshop, Adobe Xd, Adobe InDesign</li>
    </ul>
    <p>
      Designed a dating application without actual implementation just for fun. The app is based on GPS services to know more about the people you walk by on the streets without compromising your information and security. Created full design and did market research. The videos and information about the application can be found below.
    </p>
    <a class="project-link" href="https://spark.adobe.com/page/1hDq65ThTyttD/">Click to see App Design Website</a>
  </div>
  
<!-- </div>
<div class="user-details">
  <h1> Fun Designs </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Click to see Code</a>
  </div>
</div>
 -->